.flex {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.bg1 {
  background-color: black;
  height: 1000px;
  background-image: url("https://cdn.wallpapersafari.com/36/83/omkpxf.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.pokebox {
  background-color: black;
  min-height: 500px;
  height: fit-content;
  border-radius: 5%;
  width: 1500px;
}

.gridLayout {
  display: grid;
  grid-template-columns: 580px 580px 580px;
  grid-template-rows: 400px 50px 400px;
  column-gap: 70px;
  row-gap: 72px;
  margin-left: 25px;
  margin-right: 25px;
  align-items: center;
  font-family: Poke;
}

.descriptors {
  grid-column-start: 2;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 200px 200px;
  font-size: xx-large;
}

.marginLeft {
  margin-left: 10px;
}

.descriptions {
  grid-row-start: 3;
  grid-column-start: 1;
  font-size: 40px;
}
.buttonsDetails {
  grid-row-start: 3;
  grid-column-start: 3;
  display: flex;
  justify-content: space-around;
}

.btnHeightWidth {
  width: 200px;
  height: 50px;
}
.stats {
  grid-row-start: 3;
  grid-column-start: 2;
  display: grid;
  grid-template-columns: 290px 290px;
  grid-template-rows: 125px 125px 125px;
  align-items: center;
  font-size: x-large;
}

.imageRay {
  background-image: url("https://64.media.tumblr.com/6794739b290720d1b8d76d4a25fccb0f/tumblr_p7rzoloLcU1x5ra9co1_540.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

.imagePokemon {
  width: 300px;
  margin-top: -47px;
  margin-left: 144px;
}

.imagePokemon1 {
  width: 300px;
  margin-left: 800px;
}

.pokemonName {
  text-align: center;
  font-size: 75px;
  font-family: Poke;
}

.yellowBG1 {
  background-color: rgb(226, 223, 19);
  height: 385px;
  width: 580px;
  opacity: 0.9;
  border-radius: 5%;
}

.yellowBG2 {
  background-color: rgb(226, 223, 19);
  height: 385px;
  width: 1205px;
  opacity: 0.9;
  border-radius: 5%;
}

.yellowBG3 {
  background-color: rgb(226, 223, 19);
  height: 100px;
  width: 580px;
  opacity: 0.9;
  border-radius: 5%;
}

.type {
  font-size: xx-large;
  display: flex;
  align-items: center;
}

.yellowBG4 {
  background-color: rgb(226, 223, 19);
  height: 385px;
  width: 580px;
  opacity: 0.9;
  border-radius: 5%;
}

.yellowBG5 {
  background-color: rgb(226, 223, 19);
  height: 385px;
  width: 580px;
  opacity: 0.9;
  border-radius: 5%;
}

.editPokeBoxBG {
  background-image: url("https://i.imgur.com/7nCRR.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1063px;
  font-family: Poke;
}

.formBox {
  border: 2px solid black;
  display: grid;
  grid-template-columns: 950px 950px;
  grid-template-rows: 150px 150px 150px;
  background-color: azure;
  opacity: 0.8;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 5%;
}

.leftMarginForm {
  margin-left: 25px;
}

.topMarginForm {
  margin-top: 25px;
}

.btnForm {
  display: flex;
  justify-content: flex-end;
  grid-column-start: 2;
  margin-right: 100px;
  margin-bottom: 10px;
}
