@font-face {
  font-family: Poke;
  src: local("Poke"),
    url("../../fonts/poke/PocketMonk-15ze.ttf") format("truetype");
}

@font-face {
  font-family: GBA;
  src: local("GBA"),
    url("../../fonts/gba/PokemonGb-RAeo.ttf") format("truetype");
}
.gif {
  background-image: url("https://cutewallpaper.org/21/pokemon-background-gif/Best-Pokemon-Background-Gif-GIFs-Gfycat.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

.container-login {
  text-align: center;
}

.container-login > section > a {
  text-decoration: underline;
  color: var(--secondary);
}

.form-login {
  width: 60%;
  margin: 2rem auto;
  margin-top: 0px;
}

.form-login > h1 {
  font-size: 7.5rem;
  text-align: center;
  font-family: Poke;
}

.form-login > h2 {
  text-align: center;
  font-size: 0.75rem;
  font-family: GBA;
}

.form-login > fieldset > input[type="email"] {
  width: 25em;
}

.login-btn {
  align-self: flex-end;
  font-family: GBA;
}

.login-btn:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
  font-family: GBA;
}

/************* FORM STYLES *************/

form {
  margin: 3rem 5rem;
  border: 1px solid var(--outline);
  border-radius: 10px;
  padding: 1rem 0rem 0rem 1rem;
  box-shadow: 1px 2px 5px lightgray;
  background-color: rgba(154, 232, 19, 0.211);
}

fieldset {
  min-width: 0;
  padding-bottom: 1.5rem;
  margin: 0;
  border: 0;
}

.form-control {
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border: 1px solid var(--outline);
  border-radius: 0.25rem;
}

.form-group {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
}

.form-btn {
  align-self: flex-end;
}

.form-btn:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.gba {
  font-family: GBA;
  font-size: 0.5em;
  text-align: center;
}

.mainBG {
  background-image: url("https://i.pinimg.com/originals/ab/58/cc/ab58cc75dcb2e42555cf7e614216350a.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* ruby gif https://media.tenor.com/g7dQf6lh3icAAAAd/pokemon-ruby-gba.gif */
/* red opening gif https://i.pinimg.com/originals/25/c4/f2/25c4f291da29d220a301670bc185b0d4.gif */
/* latios still opening https://i.imgur.com/fgI4k.jpg */
/* fountain gif https://cutewallpaper.org/21/pokemon-background-gif/Best-Pokemon-Background-Gif-GIFs-Gfycat.gif */
